@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
body{
background-color: white;
padding: 30px;
text-align: center;
}

.calc{
background-color: #6665DD;
padding: 1px;
font-family: "SN Pro", sans-serif;
border-radius: 20px;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
}
.container{
box-shadow: 0px 0px 10px rgba(0,0,0,1.0);
color: white;
margin: 30px;
padding: 20px;
background-color:#473BF0 ;
border-radius: 20px;
font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
input{
border-radius: 20px;
padding: 15px;
border: 0px;
}

button{
    border: 0px;
    border-radius: 20px;
    padding: 10px;
}
