
body {
  background-color: #243a69;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  font-weight: 50;
  font-style: normal; 
}
.imgs{
height: 200px;
width: 350px;
border:solid 2px;
border-radius: 15px;
box-shadow: 3px 3px 10px
}

.header {
  background-color: #d4cdc5;
  padding: 20px;
  text-align: center;
  
}
h1{  align-items: center;
 
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  }

h2 {
text-align: center;
 

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}
.nav a {
  margin-left: 30px;
 margin-top: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav a:hover {
  color: #0077ff;
}

.layout {
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}
.main {
  background-color: #d4cdc5;
  padding: 20px;
  min-height: 400px;
}

.aside {
  background-color: #d4cdc5;
  padding: 20px;
text-align: justify;
height: fit-content;
}
.aside a:hover {

    color: #0077ff;
}

.aside ul {
  list-style: none;
  margin-top: 10px;
}

.aside li {
  margin-bottom: 10px;
}

.aside a {
  text-decoration: none;
  color: #333;
}

footer {
 background-color: #eaeaea;
  padding: 5px  ;
  text-align: center;
  max-width: 900px;
}

.andre{
  background-color: #eaeaea;
  margin: 10px 160px;
  max-width: 880px;
text-align: center;

}
