body{

/* background-color: black; */
margin: 15px;
  font-family: "Playwrite CU Guides", cursive;
  font-weight: 400;
  font-style: normal;
}



h1 {

color: blue;
/* background-color: aqua; */
text-align: center;

}


h2{


color: blue;
text-align: center;


}


.titulo_contato{

    text-align: center;
    color: white;
    padding: auto;
    margin-top: 5px;
    font-size: 25px;
    
    }

p{

/* background-color: blueviolet; */
color:black;
padding: auto;
margin: 5px;

text-align: center;


}

.paragrafo{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: blue;
color: chartreuse;

}


