body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.card {
    background-color: white;
    width: 250px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 160px;
    }


.card p {
    font-size: 14px;
    color: #555;
}

.card button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
}

.card button:hover {
    background-color: #133d58;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #ddd;
}
